@keyframes spinAndPulse {
  0% {
    transform: rotate(0deg) scale(1);
    filter: brightness(1);
  }
  50% {
    transform: rotate(180deg) scale(1.1);
    filter: brightness(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
    filter: brightness(1);
  }
}

#cookie {
  animation: spinAndPulse 8s linear infinite;
  transform-origin: center center;
  will-change: transform;
  cursor: pointer;
}

#game-clickable-area.active {
  transform: scale(1.1);
  transition: transform 0.3s;
}

#game {
  position: relative;
}
.randomCookieImg{
  transition : opacity 2s ease-in-out;
  display: block;
  cursor: pointer;
}
.randomCookieImg:hover{
  transition: ease-in-out 0.2s;
  transform: scale(1.05);
}


.randomCookieImg-hidden{
  opacity:0;
}
.randomCookieImg-visible{
  opacity: 1;
}
